<div class="mainContent">
	<div class="signUpBlockDiv">
		<h1 class="label">Find A Provider</h1>
	</div>
	<div class="label">
		Sort By: <%= select_tag(:sorter, options_for_select([['Highest Rating', 1],['Name', 2]], params[:sorter]), class: 'combo_box') %>
		<%= submit_tag "Refine", class: 'submit'%>
		<%= link_to "Advanced Search"%>
	</div>
	<div class="providerGrid">
		<% @providers.each do |p| %>
		<div class="providerRow">
			<div class="providerHeaderRow">
				<div>
					<h3 class="label"><%= p.first_name %> <%= p.last_name %></h3>
				</div>
			</div>
			<div class="providerInfoRow">
				<div class="providerImage">
					<%= image_tag url_for(action: :show_profile_image, :id => p.id,
					:controller => :providers), size: "75x113", alt: "" %>
				</div>
				<div class="providerInfo">
					<div class="summaryBox label">
						<% if p.summary.blank? %>
						Summary has not yet been submitted for this provider.
						<%else%>
						<% if p.summary.to_s.length > 255%>
						<%= p.summary[0..255] %>...
						<%else%>
						<%= p.summary %>
						<%end%>
						<%end%>

					</div>
					<div class="infoBox">
						<div class="ratings label">
							<% if (p.reviews.count == 0) %>
							This provider has not yet been rated
							<% else %>
							<fieldset class="rating">
								<% (1..5).each do |i|%>
								<% if p.reviews.average(:rating) >= i %>
								<label for="star" class="ratingPos"></label>
								<%else%>
								<label for="star" class="ratingNeg"></label>
								<%end%>
								<% end %>
								<%= p.reviews.average(:rating) %> (<%= p.reviews.count %> Ratings)
							</fieldset>

							<%end%>
						</div>
						<div class="avail">
							<div class="label">

								<div>
									Available By:
								</div>
								<% if p.service_by_phone? %>
								<div class='serviceBox'>
									Phone
								</div>
								<%end%>
								<% if p.service_by_chat? %>
								<div class='serviceBox'>
									Chat
								</div>
								<%end%>
								<% if p.service_by_email? %>
								<div class='serviceBox'>
									Email
								</div>
								<%end%>
							</div>

						</div>
					</div>
				</div>
				<div class="rate">
					<div>
						<div class="gridLinkBox">
							<%= link_to 'View Provider', provider_path(p), class: 'viewLink' %>
						</div>
					</div>
					<div style="padding-left:125px;">
						<div class="label rateBox">
							<% if p.rate.blank? || p.unit.blank? %>

							This provider has not yet set a rate
							<%else%>
							Rate: <%= number_to_currency(p.rate) %> Per <%= p.unit %>
							<%end%>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%end%>
		<%= will_paginate @providers%>
	</div>
</div>
