<div class="mainContent">
	<div class="mainContentHeader">
		Find A Provider
	</div>
	<table>
		<tr>
			<th>Title</th>
			<th>Text</th>
			<th colspan="3"></th>
		</tr>
		<% @providers.each do |p| %>
		<tr>
			<th><%= p.first_name %></th>
			<th><%= p.last_name %></th>
			<th><%= link_to 'Show', provider_path(p) %></th>
			<% if (p.ratings.count == 0) %>
			<th>This provider has not yet been rated</th>
			<% else %>
			<th>
			<fieldset class="rating">test
				<% (1..5).each do |i|%>
				<% if p.ratings.average > i%>
				<!-- <% (1..p.ratings.average(:rating)).each do |i|%> -->
				
				<label for="star" class="ratingPos"></label>
				<%else%>
				<label for="star" class="ratingNeg"></label>
				<% end %>
				<!-- <% (5..p.ratings.average(:rating)).each do |i|%> 
				<label for="star" class="ratingNeg"></label>
				<% end %> -->

			</fieldset></th>
			<th><%= p.ratings.average(:rating) %>(<%= p.ratings.count %>)</th>
			<%end%>
		</tr>
		<%end%>
	</table>
</div>
