<div class="mainContent">
	<div class="mainContentHeader">
		Edit <%= resource_name.to_s.humanize %>
	</div>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
	<div class="mainContentPrepare">
		<div class="label">
			<%= devise_error_messages! %>

		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :first_name, "Name:",{ class: 'label'} %>
			</div>
			<div class="signUpInputDiv signUpLabelDiv">
				<%= f.label :first_name, f.object.first_name + " " + f.object.last_name, {class: 'label'} %>
			</div>
		</div>
		<div>
			<br />
			<h2 class="label">Personal Information</h2>
		</div>
		<% if provider_signed_in? %>
		<div class="label">Addresses are used for billing purposes only.<br/>Phone Numbers are disclosed to clients only for providers that elect to provide phone services<br/><br/></div>
		<%else%>
		<div class="label">Addresses and Phone Numbers are used for billing purposes only.<br/>ThisSite does not disclose client contact information to others.<br/><br/></div>
		
		<%end%>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :address1, "*Address", {class: 'label'}%>
			</div>
			<div class="signUpInputDiv">
				<%= f.text_field :address1, {class: 'text_field'}%>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :address2, "Address 2", {class: 'label'}%>
			</div>
			<div class="signUpInputDiv">
				<%= f.text_field :address2, {class: 'text_field'}%>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :city, "*City", {class: 'label'}%>
			</div>
			<div class="signUpInputDiv">
				<%= f.text_field :city, {class: 'text_field'}%>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :state, "*State", {class: 'label'}%>
			</div>
			<div class="signUpInputDiv">
				<%= f.text_field :state, {class: 'text_field'}%>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :zip, "*Zip Code", {class: 'label'}%>
			</div>
			<div class="signUpInputDiv">
				<%= f.text_field :zip, {class: 'text_field'}%>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :email, "*Email Address:", {class: 'label'} %>
			</div>
			<div class="signUpInputDiv">

				<%= f.email_field :email, {class: 'text_field'} %>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :phone, "*Phone Number:", {class: 'label'} %>
			</div>
			<div class="signUpInputDiv">

				<%= f.telephone_field :phone, { class: 'text_field'} %>
			</div>
		</div>
		
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :alt_phone, "*Alternate Number:", {class: 'label'} %>
			</div>
			<div class="signUpInputDiv">

				<%= f.telephone_field :alt_phone, { class: 'text_field'} %>
			</div>
		</div>

		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				Currently waiting confirmation for: <%= resource.unconfirmed_email %>
			</div>
		</div>
		<% end %>
		<div>
			<br/>
			<h2 class="label">Security Information</h2>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :password, "Password:", {class: 'label'}%>
			</div>
			<div class="signUpInputDiv">
				<%= f.password_field :password, {autocomplete: "off", class: 'text_field'} %>

			</div>
			<div class="label">
				(leave blank if you don't want to change it)
			</div>
		</div>

		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :password_confirmation, "Password Confirmation:", {class: 'label'} %>
			</div>
			<div class="signUpInputDiv">

				<%= f.password_field :password_confirmation, {autocomplete: "off", class: 'text_field'} %>
			</div>
		</div>

		<% if provider_signed_in? %>
		<div>
			<br />
			<h2 class="label">Profile Information</h2>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :summary, "Summary Of Services Offered:", { class: 'label'} %>
			</div>
			<div class="signUpMemoDiv">
				<%= f.text_area :summary, {cols: 40, rows: 30, class: 'memo_text_field'} %>
			</div>
			<div class="label">
				This is what will appear on search results to clients
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :profile_img, "Provide A Photo:", {class: 'label'} %>
			</div>
			<div class="signUpInputDiv">
				<%= f.file_field :profile_img, {:data => { :max_file_size => 2.megabytes }, accept: 'image/png,image/gif,image/jpeg',class: 'text_field'} %>
			</div>
		</div>
		<% if !@provider.profile_image.blank? %>

		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= label_tag "", "Current Profile Photo:", class: 'label'%>
			</div>
			<div class="signUpInputDiv">
				<%= image_tag url_for(action: :show_profile_image, :id => @provider.id, :controller => :providers), size: "150x225" %>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<%end%>
		<div>
			<br/>
			<h2 class="label">Payment Information</h2>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :rate, "Charging Rate (US Dollars):", {class: 'label'} %>
			</div>
			<div class="signUpInputDiv">
				<%= f.text_field :rate, {value: number_with_precision(f.object.rate, precision: 2), class: 'text_field', step: 0.01}%>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :unit, "Per:", {class: 'label'} %>
			</div>
			<div class="signUpInputDiv">
				<%= f.select :unit, options_for_select(['Hour', 'Minute', 'Session'], @provider.unit), {include_blank: 'Not Selected'}, {class: 'combo_box' }%>
			</div>
		</div>
		<% end %>
		<div>
			<br/>
			<h2 class="label">Confirm Changes and Update</h2>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpBlockDiv">
				<div class="signUpLabelDiv">
					<%= f.label :current_password, "*Current Password:", {class: 'label'} %>
				</div>
				<div class="signUpInputDiv">

					<%= f.password_field :current_password, {autocomplete: "off", class: 'text_field'} %>

				</div>
				<div class="label">
					(We need your current password to confirm your changes)
				</div>
			</div>
			<div class="signButtonDiv">
				<%= f.submit "Update", {class: 'submit'} %>
			</div>
		</div>

	</div>
	<% end %>
	<div>
		<br/>
		<h2 class="label">Close Account</h2>
	</div>
	<div class="signUpBlockDiv">
		<div class="signButtonDiv">

			<%= button_to "Cancel my account", registration_path(resource_name), {data: { confirm: "This action is not reversible.\nClosing your account completely removes your profile and all associated information from our systems.\n\nTo continue closing your account, press OK. If you wish to keep your account open, press Cancel." },  method: :delete, class: "submit override" } %>

		</div>
	</div>
</div>
<br /><br />