<div class="mainContentRegis">
	<div class="mainContentHeader">
		Edit <%= resource_name.to_s.humanize %>
	</div>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
	<div class="mainContentPrepare">
		<div class="label">
			<%= devise_error_messages! %>

		</div>
		<div class="leftPane">
			<div class="signUpBlockDiv">
				<div class="signUpLabelDiv">
					<%= f.label :first_name, "*First Name:", {class: 'label'} %>
				</div>
				<div class="signUpInputDiv">
					<%= f.text_field :first_name, {class: 'text_field'} %>
				</div>
			</div>
			<div class="signUpBlockDiv">
				<div class="signUpLabelDiv">
					<%= f.label :last_name, "*Last Name:", {class: 'label'} %>
				</div>
				<div class="signUpInputDiv">
					<%= f.text_field :last_name, {class: 'text_field'} %>
				</div>
			</div>

			<div class="signUpBlockDiv">
				<div class="signUpLabelDiv">
					<%= f.label :zip, "*Zip Code", {class: 'label'}%>
				</div>
				<div class="signUpInputDiv">
					<%= f.text_field :zip, {class: 'text_field'}%>
				</div>
			</div>
			<div class="signUpBlockDiv">
				<div class="signUpLabelDiv">
					<%= f.label :email, "*Email Address:", {class: 'label'} %>
				</div>
				<div class="signUpInputDiv">

					<%= f.email_field :email, {class: 'text_field'} %>
				</div>
			</div>

			<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div class="signUpBlockDiv">
				<div class="signUpLabelDiv">
					Currently waiting confirmation for: <%= resource.unconfirmed_email %>
				</div>
			</div>
			<% end %>

			<div class="signUpBlockDiv">
				<div class="signUpLabelDiv">
					<%= f.label :password, "Password:", {class: 'label'}%>
				</div>
				<div class="signUpInputDiv">
					<%= f.password_field :password, {autocomplete: "off", class: 'text_field'} %>

				</div>
				<div class="label">
					(leave blank if you don't want to change it)
				</div>
			</div>

			<div class="signUpBlockDiv">
				<div class="signUpLabelDiv">
					<%= f.label :password_confirmation, "Password Confirmation:", {class: 'label'} %>
				</div>
				<div class="signUpInputDiv">

					<%= f.password_field :password_confirmation, {autocomplete: "off", class: 'text_field'} %>
				</div>
			</div>

			<div class="signUpBlockDiv">
				<div class="signUpLabelDiv">
					<%= f.label :current_password, "*Current Password:", {class: 'label'} %>
				</div>
				<div class="signUpInputDiv">

					<%= f.password_field :current_password, {autocomplete: "off", class: 'text_field'} %>

				</div>
				<div class="label">
					(we need your current password to confirm your changes)
				</div>
			</div>
		</div>
		<div class="rightPane">
			<% if provider_signed_in? %>
			<div class="signUpBlockDiv">
				<div class="signUpLabelDiv">
					<%= f.label :profile_img, "Provide A Photo:", {class: 'label'} %>
				</div>
				<div class="signUpInputDiv">
					<%= f.file_field :profile_img, {:data => { :max_file_size => 2.megabytes }, accept: 'image/png,image/gif,image/jpeg',class: 'text_field'} %>
				</div>

			</div>
			<div class="signUpBlockDiv">
				<div class="signUpLabelDiv">
					<%= f.label :rate, "Charging Rate (US Dollars):", {class: 'label'} %>
				</div>
				<div class="signUpInputDiv">
					<%= f.number_field number_to_currency(:rate.value), class: 'text_field', step: 0.01%>
				</div>
			</div>
			<div class="signUpBlockDiv">
				<div class="signUpLabelDiv">
					<%= f.label :unit, "Per:", {class: 'label'} %>
				</div>
				<div class="signUpInputDiv">
					<%= f.select :unit, options_for_select(['Hour', 'Minute', 'Session'], @provider.unit), {include_blank: 'Not Selected'}, {class: 'combo_box' }%>
				</div>
			</div>
			<% end %>
		</div>
		<div class="signUpBlockDiv">
			<div class="signButtonDiv">
				<%= f.submit "Update", {class: 'submit'} %>
			</div>
		</div>

	</div>

</div>
<% end %>
<div class="mainContentPrepare">
	<div class="signUpBlockDiv">
		<div class="signButtonDiv">

			<%= button_to "Cancel my account", registration_path(resource_name), {data: { confirm: "Are you sure?" },  method: :delete, class: "submit override" } %>

		</div>
	</div>
</div>
<% if !@provider.profile_image.blank? %>
<div>
	<%= image_tag url_for(action: :show_profile_image, :id => @provider.id, :controller => :providers), size: "300x200" %>
</div>
<%end%>
</div>