<div class="mainContent">
	<div class="mainContentHeader">
		<%= resource_name.capitalize %> Sign up
	</div>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div>
	<%= devise_error_messages! %>
</div>

	<div class="mainContentPrepare">
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :first_name, "First Name:", {class: 'label'} %>
			</div>
			<div class="signUpInputDiv">
				<%= f.text_field :first_name, {class: 'text_field'}  %>
			</div>
		</div><div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :last_name, "Last Name:", {class: 'label'} %>
			</div>
			<div class="signUpInputDiv">
				<%= f.text_field :last_name, {class: 'text_field'}  %>
			</div>
		</div><div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :email, "Email:", {class: 'label'}%>
			</div>
			<div class="signUpInputDiv">
				<%= f.email_field :email, {class: 'text_field'}  %>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :password, "Password:", {class: 'label'} %>
			</div>
			<div class="signUpInputDiv">
				<%= f.password_field :password, { autocomplete: "off", class: 'text_field'}  %>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :password_confirmation, "Password Confirmation:", {class: 'label'} %>
			</div>
			<div class="signUpInputDiv">
				<%= f.password_field :password_confirmation, {autocomplete: "off", class: 'text_field'} %>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signButtonDiv">
				<%= f.submit "Sign up", { class: 'submit' } %>
			</div>
		</div>
	</div>
</div>
<% end %>

<%= render "devise/shared/links" %>
</div>
