<div style="width:50%; margin-left:25%; border: 1px solid #000000">
	<div style="background-image: linear-gradient(#333333, #666666); color:#FF8800">
		<%= resource_name.capitalize %> Sign up
	</div>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	<div style="width:100%">
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :first_name, :first_name.to_s.titleize %>:
			</div>
			<div class="signUpInputDiv">
				<%= f.email_field :first_name %>
			</div>
		</div><div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :email %>:
			</div>
			<div class="signUpInputDiv">
				<%= f.email_field :email %>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :password %>
			</div>
			<div class="signUpInputDiv">
				<%= f.password_field :password, autocomplete: "off" %>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div class="signUpLabelDiv">
				<%= f.label :password_confirmation %>
			</div>
			<div class="signUpInputDiv">
				<%= f.password_field :password_confirmation, autocomplete: "off"%>
			</div>
		</div>
		<div class="signUpBlockDiv">
			<div>
				<%= f.submit "Sign up", {class: 'submit'} %>
			</div>
		</div>
	</div>
</div>
<% end %>

<%= render "devise/shared/links" %>
</div>
