<div class="header">
	<%= image_tag "logo.png"%>
</div>
<div class="PostHeader">		
	<% if user_signed_in? %>
		<%= link_to destroy_user_session_path, 
										method: :delete do%>
			<div class="menu_item">
				<span class="vMiddle">Sign Out</span>			
			</div>
		<%end%>
		<%= link_to(edit_user_registration_path) do %>
			<div class="menu_item">
				<span class="vMiddle">Edit Profile</span>
			</div>
		<%end%>		
	<% else  %>				
		<%= link_to(new_user_session_path) do%>
				<div class="menu_item">
					<span class="vMiddle">Sign In</span>
				</div>
			<%end%>
			<%= link_to(new_user_registration_path) do %>
				<div class="menu_item">
					<span class="vMiddle">Register</span>
				</div>
			<%end%>
	<%end%>
</div>

